#mapDiv {
    position: fixed;
    top: 18%;
    right: 0;
}

.imgControlButton {
    float:right
}

header nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    top:40%;
}

#homeButton img {
    position: fixed;
    width: 50px;
    height: 50px;
    right:1%;
    top:1%;
    filter: invert(100%);
}


body {
    background-color: darkslategrey;
}

header {
    position : fixed;
    background-image: url('../images/foggyForest.jpg'); 
    background-size: cover; 
    top:0;
    left:0;
    background-position: center;
    height: 18%;
    width: 100%;
    border-bottom: 1px solid #000000;
}
header h1 {
    position: absolute;
    margin-left: 5px;
}
header a {
    position: absolute;
    color: blanchedalmond;
    text-decoration: none;
    font-size: 120%;
    padding: 0px 8px;
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
}
header a:hover {
    color: #258c4d;
}
header div#editButtonsDiv {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 15%;
    width: 100%;
    bottom: 3px;
}
header button {
    
    color: blanchedalmond;
    text-decoration: none;
    font-size: 120%;
    padding: 3px 8px;
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    background-color: #01443c;
    margin-left: 3px;
    border: none;
    animation: fadeIn 1s ease-in-out;
}

header div#editButtonsDiv button#editModeButton {
    margin-left: auto;
}

header button:hover {
    color: #258c4d;
    background-color: #012622;
}



header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    margin-left: 8px;
}

header nav select {
    background-color: #01443c;
    color: #FFFFFF;
    animation: fadeIn 1s ease-in-out;
    padding-right: 10px;
    font-size: 120%;

}
select:hover {
    background-color: #012622;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

option {
    color: #038979;
    padding-right: 10px;
    font-size: 100%;
}

#mapDiv button {
    background-color: #541b0eab;
    color: #FFFFFF;
    padding-right: 10px;
    padding-left: 10px;
    margin-top:3px;
    margin-right: 3px;
    margin-bottom: 3px;
    align-self: center;
    font-size: 100%;
    border: none;
    
}

#mapDiv img{
    position: fixed;
    max-width: 40%;
    max-height: 70%;
    right: 0%;
    margin-top: 5px;
    padding-top: 5px;
}

main {
    position: relative;
    top: 20%;
    z-index: -1; 
}

